<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>


  <!--  Header Start    -->
  <header class="page-header">
    <a class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <a href="" class="logo"><img src="../../../assets/img/logo.png" alt=""></a>
    <div class="navbar-links">
    <ul>
        <li><a href=""><fa-icon [icon]="faNewspaper"></fa-icon> {{"UPD" | translate}}</a></li>
        <li><a href=""><fa-icon [icon]="faWrench"></fa-icon> {{"FUN" | translate}}</a></li>
        <li><a routerLink="/Preview"><fa-icon [icon]="faEyeslash"></fa-icon> {{"Preview" | translate}}</a></li>
        <li><a routerLink="/SignUp"><fa-icon [icon]="faUser"></fa-icon> {{"LOG" | translate}}</a></li>
    </ul>
  </div>
  </header>

  <!--  Header End    -->

 <main>
  <div class="contenido-section">
    <div class="caja">
      <div class="parrafo">
        <p class="p1">Conviertete en un contribuidor</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
    </div>

    <div class="caja">
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
      <div class="parrafo">
        <p class="p1">Mayor alcance</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
    </div>

    <div class="caja">
      <div class="parrafo">
        <p class="p1">Sin costo de comision</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
    </div>

    <div class="caja">
      <div class="center-img">
        <div class="imagen">
          <img src="../../assets/img/prueba.jpg" alt="imagen de prueba" class="img">
        </div>
      </div>
      <div class="parrafo">
        <p class="p1">Mayor interaccion</p>
        <p class="p2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur facere perferendis porro blanditiis recusandae iure minima, saepe impedit. Neque magnam dolor libero minima similique? Molestias impedit soluta reiciendis facere obcaecati!
        Ducimus tempore totam quas magni sunt assumenda odit. Aut, ipsa fugit laudantium minima aliquid commodi! Magni quibusdam mollitia, corrupti, autem dolore beatae sit, cum modi temporibus nobis facere repellat asperiores!
        Natus nostrum est eveniet! Ducimus molestias consequuntur ipsam eius repellendus voluptatum iure voluptatibus nobis hic corporis, est nostrum dolor, obcaecati quidem laborum sed dolore sequi, animi id incidunt tempora vel?
        Sint dolorem eaque reiciendis quam odit rem id dicta maxime sed, doloremque ad? Adipisci, voluptatem saepe ut reprehenderit ad libero rerum aspernatur accusamus rem quos? Vel voluptas nihil doloribus at!
        Excepturi ducimus dolores delectus tenetur est molestias amet officiis. Esse, dicta? A aut ipsam error, consequatur quisquam dolorem totam ipsum est ipsa atque ducimus odio minima reiciendis, amet aperiam? Facere.</p>
      </div>
    </div>
    <div class="h2">
      <p class="p-contri">¿Quieres ser contribuidor?</p>
      <p class="contact">Contactanos</p>
      <div class="contenido-h2">
        <div class="contact2">
          <p class="email">
            AnimalPaws2022@AnimalPaws.com.co
          </p>
        </div>
        <div class="contact2">
          <p class="tel">
            3250456665
          </p>
        </div>
      </div>
    </div>
  </div>
 </main>


    

  <!--  Footer Start    -->
  <footer class="main-footer">
    <div class="container">
      <ul class="social media">
        <li>
          <a href="https://www.facebook.com/AnimalPawsColombia"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M201.5 305.5c-13.8 0-24.9-11.1-24.9-24.6 0-13.8 11.1-24.9 24.9-24.9 13.6 0 24.6 11.1 24.6 24.9 0 13.6-11.1 24.6-24.6 24.6zM504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-132.3-41.2c-9.4 0-17.7 3.9-23.8 10-22.4-15.5-52.6-25.5-86.1-26.6l17.4-78.3 55.4 12.5c0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.3 24.9-24.9s-11.1-24.9-24.9-24.9c-9.7 0-18 5.8-22.1 13.8l-61.2-13.6c-3-.8-6.1 1.4-6.9 4.4l-19.1 86.4c-33.2 1.4-63.1 11.3-85.5 26.8-6.1-6.4-14.7-10.2-24.1-10.2-34.9 0-46.3 46.9-14.4 62.8-1.1 5-1.7 10.2-1.7 15.5 0 52.6 59.2 95.2 132 95.2 73.1 0 132.3-42.6 132.3-95.2 0-5.3-.6-10.8-1.9-15.8 31.3-16 19.8-62.5-14.9-62.5zM302.8 331c-18.2 18.2-76.1 17.9-93.6 0-2.2-2.2-6.1-2.2-8.3 0-2.5 2.5-2.5 6.4 0 8.6 22.8 22.8 87.3 22.8 110.2 0 2.5-2.2 2.5-6.1 0-8.6-2.2-2.2-6.1-2.2-8.3 0zm7.7-75c-13.6 0-24.6 11.1-24.6 24.9 0 13.6 11.1 24.6 24.6 24.6 13.8 0 24.9-11.1 24.9-24.6 0-13.8-11-24.9-24.9-24.9z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M391.17,103.47H352.54v109.7h38.63ZM285,103H246.37V212.75H285ZM120.83,0,24.31,91.42V420.58H140.14V512l96.53-91.42h77.25L487.69,256V0ZM449.07,237.75l-77.22,73.12H294.61l-67.6,64v-64H140.14V36.58H449.07Z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"/></svg></a>
        </li>
        <li>
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg></a>
        </li>
      </ul>
      <div class="footer-nav-container">
        <nav class="footer-nav">
          <a href="#">{{"BCM" | translate}}</a>
          <a href="#">{{"AUS" | translate}}</a>
          <a href="#">{{"CUS" | translate}}</a>
          <a href="#">{{"PRV" | translate}}</a>
          <a href="#">{{"TRM" | translate}}</a>
          <a routerLink="/Contribuitors">{{"CTR" | translate}}</a>
          <a href="#">{{"VDDD" | translate}}</a>
        </nav>
      </div>
      <ul class="footer-bottom">
        <li>
          <a href="#">Ⓒ 2022 Animal Paws</a>
        </li>
        <li>
          <a href="#">Ⓒ 2022 Neoritic Jac Devs. {{"COPY" | translate}}</a>
        <li>
          <a href="https://github.com/nataliakiselev">{{"DSG" | translate}} Natalia Kiselev</a>
        </li>
      </ul>
    </div>
  </footer>
  <!--  Footer End    -->
</body>
</html>